.container, .container-fluid
  width: 100%
  padding-right: 15px
  padding-left: 15px
  margin-right: auto
  margin-left: auto

  //navigation bar
.navbar 
  display: flex
  align-items: center

  nav-menu
    text-align: right



//logo

.logo
  height: 50px

.logo-text
  font-size: 30px

//alignment

.align-right
  text-align: right

.align-left
  text-align: left

.float-left
  float: left

.float-right
  float: right

.clearfix
  clear: both
  