.row
  display: -ms-flexbox
  display: flex
  -ms-flex-wrap: wrap
  flex-wrap: wrap

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6 .col, .col-small-1, .col-small-2, .col-small-3, .col-small-4, .col-small-5, .col-small-6, .col-small, .col-medium-1, .col-medium-2, .col-medium-3, .col-medium-4, .col-medium-5, .col-medium-6, .col-medium, .col-large-1, .col-large-2, .col-large-3, .col-large-4, .col-large-5, .col-large-6, .col-large, .col-huge-1, .col-huge-2, .col-huge-3, .col-huge-4, .col-huge-5, .col-huge-6, .col-huge
  position: relative
  width: $col-6
  padding-right: 15px
  padding-left: 15px

.col
  -ms-flex-preferred-size: 0
  flex-basis: 0
  -ms-flex-positive: 1
  flex-grow: 1
  max-width: $col-6

.col-1
  -ms-flex: 0 0 $col-1
  flex: 0 0 $col-1
  max-width: $col-1
  

.col-2
  -ms-flex: 0 0 $col-2
  flex: 0 0 $col-2
  max-width: $col-2

.col-3
  -ms-flex: 0 0 $col-3
  flex: 0 0 $col-3
  max-width: $col-3

.col-4
  -ms-flex: 0 0 $col-4
  flex: 0 0 $col-4
  max-width: $col-4

.col-5
  -ms-flex: 0 0 $col-5
  flex: 0 0 $col-5
  max-width: $col-5

.col-6
  -ms-flex: 0 0 $col-6
  flex: 0 0 $col-6
  max-width: $col-6

@media (min-width: $small)
  .col-small
    -ms-flex-preferred-size: 0
    flex-basis: 0
    -ms-flex-positive: 1
    flex-grow: 1
    max-width: $col-6

  .col-small-1
    -ms-flex: 0 0 $col-1
    flex: 0 0 $col-1
    max-width: $col-1

  .col-small-2
    -ms-flex: 0 0 $col-2
    flex: 0 0 $col-2
    max-width: $col-2

  .col-small-3
    -ms-flex: 0 0 $col-3
    flex: 0 0 $col-3
    max-width: $col-3

  .col-small-4
    -ms-flex: 0 0 $col-4
    flex: 0 0 $col-4
    max-width: $col-4

  .col-small-5
    -ms-flex: 0 0 $col-5
    flex: 0 0 $col-5
    max-width: $col-5

  .col-small-6
    -ms-flex: 0 0 $col-6
    flex: 0 0 $col-6
    max-width: $col-6

@media (min-width: $medium)
  .col-medium
    -ms-flex-preferred-size: 0
    flex-basis: 0
    -ms-flex-positive: 1
    flex-grow: 1
    max-width: $col-6

  .col-medium-1
    -ms-flex: 0 0 $col-1
    flex: 0 0 $col-1
    max-width: $col-1

  .col-medium-2
    -ms-flex: 0 0 $col-2
    flex: 0 0 $col-2
    max-width: $col-2

  .col-medium-3
    -ms-flex: 0 0 $col-3
    flex: 0 0 $col-3
    max-width: $col-3

  .col-medium-4
    -ms-flex: 0 0 $col-4
    flex: 0 0 $col-4
    max-width: $col-4

  .col-medium-5
    -ms-flex: 0 0 $col-5
    flex: 0 0 $col-5
    max-width: $col-5

  .col-medium-6
    -ms-flex: 0 0 $col-6
    flex: 0 0 $col-6
    max-width: $col-6

@media (min-width: $large)
  .col-large
    -ms-flex-preferred-size: 0
    flex-basis: 0
    -ms-flex-positive: 1
    flex-grow: 1
    max-width: $col-6

  .col-large-1
    -ms-flex: 0 0 $col-1
    flex: 0 0 $col-1
    max-width: $col-1

  .col-large-2
    -ms-flex: 0 0 $col-2
    flex: 0 0 $col-2
    max-width: $col-2

  .col-large-3
    -ms-flex: 0 0 $col-3
    flex: 0 0 $col-3
    max-width: $col-3

  .col-large-4
    -ms-flex: 0 0 $col-4
    flex: 0 0 $col-4
    max-width: $col-4

  .col-large-5
    -ms-flex: 0 0 $col-5
    flex: 0 0 $col-5
    max-width: $col-5

  .col-large-6
    -ms-flex: 0 0 $col-6
    flex: 0 0 $col-6
    max-width: $col-6

@media (min-width: $huge)
  .col-huge
    -ms-flex-preferred-size: 0
    flex-basis: 0
    -ms-flex-positive: 1
    flex-grow: 1
    max-width: $col-6

  .col-huge-1
    -ms-flex: 0 0 $col-1
    flex: 0 0 $col-1
    max-width: $col-1

  .col-huge-2
    -ms-flex: 0 0 $col-2
    flex: 0 0 $col-2
    max-width: $col-2

  .col-huge-3
    -ms-flex: 0 0 $col-3
    flex: 0 0 $col-3
    max-width: $col-3

  .col-huge-4
    -ms-flex: 0 0 $col-4
    flex: 0 0 $col-4
    max-width: $col-4

  .col-huge-5
    -ms-flex: 0 0 $col-5
    flex: 0 0 $col-5
    max-width: $col-5

  .col-huge-6
    -ms-flex: 0 0 $col-6
    flex: 0 0 $col-6
    max-width: $col-6
