@media (min-width: $small)
  .container
    max-width: $small

@media (min-width: $medium)
  .container
    max-width: $medium

@media (min-width: $large)
  .container
    max-width: $large

@media (min-width: $huge)
  .container
    max-width: $huge