//colors
    $primary-color: #173f5f
    $secondary-color: #20639b
    $tetiary-color: #3caea3
    $accent-color: #f6d55c
    $warning-color: #ed553b

//widths
    $large: 1300px
    $medium: 900px
    $small: 480px


